<% provide(:title, @user.name) %>
<div class="row">
  <div class="span8">
    <% if @user.yabe_queries.any? %>
      <h3>Search History (<%= @user.yabe_queries.count %>)</h3>
      <%= will_paginate @yabe_queries %>
      <ol class="searches">
        <%= render @yabe_queries %>
      </ol>
      <%= will_paginate @yabe_queries %>
    <% end %>
  </div>
</div>

