<% provide(:title, @user.name) %>
<div class="row">
  <div class="span8">
    <% if @user.searches.any? %>
      <h3>Search History (<%= @user.searches.count %>)</h3>
      <%= will_paginate @searches %>
      <ol class="searches">
        <%= render @searches %>
      </ol>
      <%= will_paginate @searches %>
    <% end %>
  </div>
</div>

