<li>
  <span class="query">Search query: <%= search.query %></span>
 <span class="category">Auction category: <%= search.category %></span>
 <span class="timestamp">
    Searched <%= time_ago_in_words(search.created_at) %> ago.
  </span>

  <% if current_user?(search.user) %>
  <%= link_to "delete", search, method:  :delete,
                                     confirm: "You sure?",
                                     title:   search.query %>
  <% end %>
</li>
