<li>
  <span class="query"><%= search.query %></span>
 <span class="category"><%= search.category %></span>
 <span class="timestamp">
    Posted <%= time_ago_in_words(search.created_at) %> ago.
  </span>
</li>
